﻿
@media only screen and (max-width: 500px) {

    .cheap {
            font-size: 11px !important;
    font-weight: 600 !important;
    text-align: center !important;
    margin-top: -21px !important;
    text-transform: uppercase !important;
    }

    .swap_ico {
        width: 41px;
    height: 41px;
    display: inline-block;
    position: absolute;
    background: url(https://www.easemytrip.com/home-css-js/img/swap-icon.png) no-repeat 0 0;
    background-size: 41px 41px;
    top: 108px;
    right: 45%;
    left: 45%;
    z-index: 99;
    }


    .from-des {
        padding: 10px;
        background: #f1f7fa;
        border: 1px solid #3995ca;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        float: left;
        /* width: 100%; */
        width: 48%;
    }

    .to-arrv {
        padding: 10px;
        background: #f1f7fa;
        border: 1px solid #3995ca;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        float: right;
        /* width: 100%; */
        width: 48%;
    }


    input {
        border: none !important;
        background: #f1f7fa !important;
        font-size: 18px !important;
        font-weight: 600 !important;
    }

    .from-input {
        border: none !important;
        background: #f1f7fa !important;
        font-size: 27px !important;
        width: 151px !important;
        color: #000 !important;
    }

    .from-date {
        padding: 10px;
        background: #f1f7fa;
        border: 1px solid #3995ca;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        float: left;
        width: 48%;
        margin-top: 13px;
        height: 74px;
    }

    .to-date {
        padding: 10px;
        background: #f1f7fa;
        border: 1px solid #3995ca;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        float: right;
        width: 48%;
        margin-top: 13px;
        height: 74px;
    }

    .icon {
        display: none;
    }

    .content {
        left: 0px;
        padding: 30px;
    }

    select {
        border: none;
        background: #f1f7fa;
    }

    .ad {
        border-top: 0;
        border-right: 1px solid #ccc;
        padding: 5px;
        height: 55px;
        /*width: 32%;*/
        text-align: center;
        display: inline-block;
    }

    .ad2 {
        border-top: 0;
        padding: 5px;
        height: 55px;
        width: 32%;
        text-align: center;
        display: inline-block;
    }

    .pax-des {
        /*margin-left: -15px;*/
        padding: 13px;
        background: #f1f7fa;
        border: 1px solid #3995ca;
        -webkit-border-radius: 4px;
        float: left;
        /*width: 109%;*/
        margin-top: 13px;
    }

    select {
        width: 200px !important;
    }

    .inp-date {
        margin-top: -6px;
        margin-left: 28px;
    }

    .icofont {
        position:absolute;
    }

    .inp-mar {
        /*margin-left: 25px;*/
    }

    .swap {
        width: 41px;
    height: 41px;
    display: inline-block;
    position: absolute;
    background: url(https://www.easemytrip.com/home-css-js/img/swap-icon.png) no-repeat 0 0;
    background-size: 41px 41px;
    top: 179px;
    right: 167px;
    z-index: 999;
    }
}


@media only screen and (min-width: 750px) {
    .icofont {
        display:none;
    }

    .chaep {
        font-size: 24px;
    font-weight: 400;
    }
}
