﻿
.wrapper {
    color: #555;
    cursor: help;
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

    .wrapper .tooltip-content {
        background: #005999;
        /*font-size: 14px;*/
        font-weight: 100;
        bottom: 100%;
        color: #fff;
        display: block;
        /*line-height: 2px;*/
        left: -128px;
        /*top: -45px;*/
        margin-bottom: 8px;
        opacity: 0;
        padding: 12px;
        pointer-events: none;
        position: absolute;
        width: 153%;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
        -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    }

        /* This bridges the gap so you can mouse into the tooltip without it disappearing */
        .wrapper .tooltip-content:before {
            bottom: -20px;
            content: " ";
            display: block;
            height: 20px;
            left: 0;
            position: absolute;
            width: 100%;
        }

        /* CSS Triangles - see Trevor's post */
        .wrapper .tooltip-content:after {
            border-left: solid transparent 10px;
            border-right: solid transparent 10px;
            border-top: solid #005999 10px;
            bottom: -10px;
            content: " ";
            height: 0;
            left: 69%;
            margin-left: -13px;
            position: absolute;
            width: 0;
        }

    .wrapper:hover .tooltip-content {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }

/* IE can just show/hide with no transition */
.lte8 .wrapper .tooltip-content {
    display: none;
}

.lte8 .wrapper:hover .tooltip-content {
    display: block;
}



.wrapper-1 {
    text-transform: uppercase;
    /*background: #ececec;*/
    color: #555;
    cursor: help;
    /*font-family: "Gill Sans", Impact, sans-serif;*/
    font-size: 20px;
    /*margin: 100px 75px 10px 75px;
padding: 15px 20px;
position: relative;
text-align: center;*/
    /*width: 200px;*/
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

    .wrapper-1 .tooltip-content-1 {
        width: 220%;
        position: absolute;
        /* bottom: 100%; */
        margin: 0 0 7px 0;
        /*padding: 15px;*/
        font-weight: normal;
        font-style: normal;
        text-align: CENTER;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255,255,255,0.3);
        /*line-height: 1.5;*/
        /*border: solid 1px;*/
        /*-moz-border-radius: 7px;
    -webkit-border-radius: 7px;*/
        /*border-radius: 7px;*/
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 1px 2px rgba(255,255,255,0.5) inset;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 1px 2px rgba(255,255,255,0.5) inset;
        box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 1px 2px rgba(255,255,255,0.5) inset;
        cursor: default;
        display: block;
        /* visibility: hidden; */
        color: #fff;
        background: #005999;
        padding: 7px;
        opacity: 0;
        left: -118px;
        z-index: 999;
        -moz-transition: all 0.4s linear;
        -webkit-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        transition: all 0.4s linear;
    }

        /* This bridges the gap so you can mouse into the tooltip without it disappearing */
        .wrapper-1 .tooltip-content-1:before {
            bottom: -20px;
            content: " ";
            display: block;
            height: 20px;
            left: 0;
            position: absolute;
            width: 100%;
        }

        /* CSS Triangles - see Trevor's post */
        .wrapper-1 .tooltip-content-1:after {
            border-left: solid transparent 10px;
            border-right: solid transparent 10px;
            border-top: solid #005999 10px;
            bottom: -10px;
            content: " ";
            height: 0;
            left: 68%;
            /* margin-left: -13px; */
            position: absolute;
            width: 0;
            top: -10px;
            transform: rotate(180deg);
        }

    .wrapper-1:hover .tooltip-content-1 {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }

/* IE can just show/hide with no transition */
.lte8 .wrapper-1 .tooltip-content-1 {
    display: none;
}

.lte8 .wrapper-1:hover .tooltip-content-1 {
    display: block;
}



.wrapper-1 {
    text-transform: uppercase;
    /*background: #ececec;*/
    color: #555;
    cursor: help;
    /*font-family: "Gill Sans", Impact, sans-serif;*/
    font-size: 20px;
    /*margin: 100px 75px 10px 75px;
padding: 15px 20px;
position: relative;
text-align: center;*/
    /*width: 200px;*/
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper-2 .tooltip-content-2 {
    background: #005999;
    /*font-size: 14px;*/
    font-weight: 100;
    bottom: 100%;
    color: #fff;
    display: block;
    line-height: 2px;
    left: -64px;
    top: -50px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    width: 176%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

    /* This bridges the gap so you can mouse into the tooltip without it disappearing */
    .wrapper-2 .tooltip-content-2:before {
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    /* CSS Triangles - see Trevor's post */
    .wrapper-2 .tooltip-content-2:after {
        border-left: solid transparent 10px;
        border-right: solid transparent 10px;
        border-top: solid #005999 10px;
        bottom: -10px;
        content: " ";
        height: 0;
        left: 69%;
        margin-left: -13px;
        position: absolute;
        width: 0;
    }

.wrapper-2:hover .tooltip-content-2 {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper-2 .tooltip-content-2 {
    display: none;
}

.lte8 .wrapper-2:hover .tooltip-content-2 {
    display: block;
}




/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell

            
*/

body {
    background: #e6e6e6;
}



.rtable {
    /*display: inline-block;*/
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
    width: 736px;
}

.rtable,
.rtable--flip tbody {
    -webkit-overflow-scrolling: touch;
    background: radial-gradient(left, ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(right, ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
}

    .rtable td:first-child,
    .rtable--flip tbody tr:first-child {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, white), to(rgba(255, 255, 255, 0)));
        background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
        background-repeat: no-repeat;
        background-size: 20px 100%;
    }

    .rtable td:last-child,
    .rtable--flip tbody tr:last-child {
        background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, white), to(rgba(255, 255, 255, 0)));
        background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: 20px 100%;
    }

    .rtable th {
        font-size: 11px;
        text-align: left;
        text-transform: uppercase;
        background: #0952a4 !important;
        color: #fff;
    }

    .rtable th,
    .rtable td {
        padding: 6px 12px;
        border: 1px solid #d9d7ce;
    }

td {
    font-size: 12.5px;
}

.rtable--flip {
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    background: none;
}

    .rtable--flip thead {
        display: -webkit-box;
        display: flex;
        flex-shrink: 0;
        min-width: -webkit-min-content;
        min-width: -moz-min-content;
        min-width: min-content;
    }

    .rtable--flip tbody {
        display: -webkit-box;
        display: flex;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .rtable--flip tr {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        min-width: -webkit-min-content;
        min-width: -moz-min-content;
        min-width: min-content;
        flex-shrink: 0;
    }

    .rtable--flip td,
    .rtable--flip th {
        display: block;
    }

    .rtable--flip td {
        background-image: none !important;
        border-left: 0;
    }

        .rtable--flip th:not(:last-child),
        .rtable--flip td:not(:last-child) {
            border-bottom: 0;
        }

/*!
// CodePen house keeping
*/
/*body {
            margin: 0;
            padding: 25px;
            color: #494b4d;
            font-size: 14px;
            line-height: 20px;
        }*/

h1, h2, h3 {
    /*margin: 0 0 10px 0;*/
    color: #1d97bf;
}

h1 {
    font-size: 25px;
    line-height: 30px;
}

h2 {
    font-size: 20px;
    line-height: 25px;
}

h3 {
    font-size: 16px;
    line-height: 20px;
}

table {
    margin-bottom: 30px;
    background: #fff !important;
}

a {
    color: #ff6680;
}

code {
    background: #fffbcc;
    font-size: 12px;
}




input[type=checkbox] {
    margin-top: 7px;
}

body {
    overflow-x: hidden;
}




.fltkun {
    position: relative;
    top: -17px;
    float: left;
    right: 571px;
    width: 501px;
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1919px) {

    .fltkun {
        position: relative;
        top: -17px;
        float: left;
        right: 655px !important;
        width: 501px;
    }
}


@media only screen and (min-device-width: 1600px) and (max-device-width: 1919px) {

    .fltkun {
        position: relative;
        top: -17px;
        float: left;
        right: 735px !important;
        width: 501px;
    }
}

@media only screen and (min-device-width: 1360px) and (max-device-width: 1439px) {

    .fltkun {
        position: relative;
        top: -17px;
        float: left;
        right: 615px !important;
        width: 501px;
    }
}


.fltkun2 {
    position: relative;
    top: 10px;
    float: left;
    right: 87%;
    width: 460px;
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1919px) {

    .fltkun2 {
        position: relative;
        top: 10px;
        float: left;
        right: 99% !important;
        width: 460px;
    }
}


@media only screen and (min-device-width: 1600px) and (max-device-width: 1919px) {

    .fltkun2 {
        position: relative;
        top: 10px;
        float: left;
        right: 109% !important;
        width: 460px;
    }
}


.fltkun3 {
    position: relative;
    top: 10px;
    float: left;
    right: 79%;
    width: 460px;
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1919px) {

    .fltkun3 {
        position: relative;
        top: 10px;
        float: left;
        right: 89% !important;
        width: 460px;
    }
}




@media only screen and (min-device-width: 1600px) and (max-device-width: 1919px) {

    .fltkun3 {
        position: relative;
        top: 10px;
        float: left;
        right: 100% !important;
        width: 460px;
    }
}




.loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    width: 100px;
    color: #FFF;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

    .loading span {
        position: absolute;
        height: 10px;
        width: 84px;
        top: 50px;
        overflow: hidden;
    }

        .loading span > i {
            position: absolute;
            height: 4px;
            width: 4px;
            border-radius: 50%;
            -webkit-animation: wait 4s infinite;
            -moz-animation: wait 4s infinite;
            -o-animation: wait 4s infinite;
            animation: wait 4s infinite;
        }

            .loading span > i:nth-of-type(1) {
                left: -28px;
                background: yellow;
            }

            .loading span > i:nth-of-type(2) {
                left: -21px;
                -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s;
                background: lightgreen;
            }

@-webkit-keyframes wait {
    0% {
        left: -7px;
    }

    30% {
        left: 52px;
    }

    60% {
        left: 22px;
    }

    100% {
        left: 100px;
    }
}

@-moz-keyframes wait {
    0% {
        left: -7px;
    }

    30% {
        left: 52px;
    }

    60% {
        left: 22px;
    }

    100% {
        left: 100px;
    }
}

@-o-keyframes wait {
    0%;

{
    left: -7px;
}

30% {
    left: 52px;
}

60% {
    left: 22px;
}

100% {
    left: 100px;
}

}

@keyframes wait {
    0% {
        left: -7px;
    }

    30% {
        left: 52px;
    }

    60% {
        left: 22px;
    }

    100% {
        left: 100px;
    }
}




.animation {
    box-shadow: 0 0 10rem 0 #000000;
}

body {
    /*box-shadow: 0 0 10rem 0 #000000 inset;*/
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    /*box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  background-color: #1D1F20;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 10px;
  font-weight: 100;
  box-shadow: 0 0 10rem 0 #000000 inset;*/
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    background-color: #1D1F20;
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

    footer span {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1rem;
        font-weight: 100;
    }

a {
    text-decoration: none;
    color: #FFA500;
}

    a:hover {
        text-decoration: underline;
    }

/*.animation {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 20rem;
  max-width: 55rem;
  background-color: #ffffff;
  border-radius: 4px;
  animation: 24s linear infinite sky;
}
.animation:after {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0 7rem 30rem -4rem #5aacdc inset;
}
.animation [class^="animation__"], .animation [class*=" animation__"] {
  position: absolute;
}
.animation__plane {
  position: absolute;
  z-index: 1;
  top: calc(40% - (62px/2));
  left: calc(50% - (272px/2));
  width: 17rem;
  height: 6.2rem;
  animation: 2s ease-in-out takeOff, 5s ease-in-out infinite alternate flight 2s;
}
.animation__plane--shadow {
  bottom: 1rem;
  left: calc(54% - (8rem/2));
  width: 8rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
  animation: 2s ease-in-out takeOffShadow, 5s ease-in-out infinite alternate flightShadow 2s;
}
.animation__cloud--front {
  z-index: 2;
  top: 50%;
  left: 20%;
  width: 8.5rem;
  height: 3rem;
  fill: #cee4e7;
  animation: 4s linear infinite cloudFront;
}
.animation__cloud--middle {
  top: 22%;
  left: 75%;
  width: 6rem;
  height: 3rem;
  fill: #cee4e7;
  animation: 5s linear infinite cloudMiddle;
}
.animation__cloud--back {
  top: 6%;
  left: 34%;
  fill: #cee4e7;
  animation: 8s linear infinite cloudBack;
}
.animation .animation__loader {
  position: absolute;
  left: 0;
  bottom: 3rem;
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}
.animation .animation__loader:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #cee4e7;
  overflow: hidden;
  animation: 1.5s ease-in-out infinite loader;
}*/

@keyframes loader {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes takeOff {
    0% {
        transform: translate(-220%, 110%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes takeOffShadow {
    0% {
        transform: translate(-440%, 110%);
        opacity: 1;
    }

    100% {
        transform: translate(0, 0);
        opacity: 0.8;
    }
}

@keyframes flight {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, 10%);
    }

    75% {
        transform: translate(0, -10%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes flightShadow {
    0% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    25% {
        transform: scale(0.9);
        opacity: 1;
    }

    75% {
        transform: scale(1.1);
        opacity: 0.6;
    }

    100% {
        transform: scale(0.8);
        opacity: 0.8;
    }
}

@keyframes cloudFront {
    0% {
        transform: translate(520%, 0);
    }

    100% {
        transform: translate(-600%, 0);
    }
}

@keyframes cloudMiddle {
    0% {
        transform: translate(230%, 0);
    }

    100% {
        transform: translate(-900%, 0);
    }
}

@keyframes cloudBack {
    0% {
        transform: translate(910%, 0);
    }

    100% {
        transform: translate(-1000%, 0);
    }
}

@keyframes sky {
    0% {
        background-color: #ffffff;
    }

    20% {
        background-color: #ffffff;
    }

    35% {
        background-color: #ffc8bd;
    }

    50% {
        background-color: transparent;
    }

    70% {
        background-color: transparent;
    }

    85% {
        background-color: #ffc8bd;
    }

    100% {
        background-color: #ffffff;
    }
}



.blob {
    width: 2rem;
    height: 2rem;
    background: rgb(255, 165, 0);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}

.blob-2 {
    -webkit-animation: animate-to-2 1.5s infinite;
    animation: animate-to-2 1.5s infinite;
}

.blob-3 {
    -webkit-animation: animate-to-3 1.5s infinite;
    animation: animate-to-3 1.5s infinite;
}

.blob-1 {
    -webkit-animation: animate-to-1 1.5s infinite;
    animation: animate-to-1 1.5s infinite;
}

.blob-4 {
    -webkit-animation: animate-to-4 1.5s infinite;
    animation: animate-to-4 1.5s infinite;
}

.blob-0 {
    -webkit-animation: animate-to-0 1.5s infinite;
    animation: animate-to-0 1.5s infinite;
}

.blob-5 {
    -webkit-animation: animate-to-5 1.5s infinite;
    animation: animate-to-5 1.5s infinite;
}

@-webkit-keyframes animate-to-2 {
    25%, 75% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-2 {
    25%, 75% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-3 {
    25%, 75% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-3 {
    25%, 75% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-1 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    50%, 75% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-1 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    50%, 75% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-4 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    50%, 75% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-4 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    50%, 75% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-0 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    50% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }

    75% {
        -webkit-transform: translateX(-7.5rem) scale(0.5);
        transform: translateX(-7.5rem) scale(0.5);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-0 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    50% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }

    75% {
        -webkit-transform: translateX(-7.5rem) scale(0.5);
        transform: translateX(-7.5rem) scale(0.5);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-5 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    50% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }

    75% {
        -webkit-transform: translateX(7.5rem) scale(0.5);
        transform: translateX(7.5rem) scale(0.5);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-5 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    50% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }

    75% {
        -webkit-transform: translateX(7.5rem) scale(0.5);
        transform: translateX(7.5rem) scale(0.5);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}


.flt-dur {
    width: 92%;
    margin: 7px auto;
    font-size: 16px;
    position: relative;
}

    .flt-dur:before {
        content: "";
        border-bottom: 1px solid #a5a4a4;
        width: 100%;
        display: inline-block;
        margin-bottom: 3px;
    }

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: -2px;
    left: -3px;
    position: absolute;
    background: #a5a4a4;
}

.dot-plan {
    margin: -10px auto;
    padding: 0px;
    width: 10%;
    background: #fff;
}

.dot2 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: -2px;
    right: -1px;
    position: absolute;
    background: #a5a4a4;
}



label {
    /*color: orange;*/
}

table {
    width: 100%;
    border-collapse: collapse;
    /*margin: 50px auto;*/
    height: 119px;
}

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #0952a4;
    color: #a5a4a4;
    /*font-weight: bold;*/
}

td, th {
    padding: 2px;
    border: 1px solid #ccc;
    text-align: left;
    /*font-size: 18px;*/
}


.prc_flt {
    width: 100%;
    float: left;
    padding: 3px 14px;
}

.prc_ttl {
    float: left;
    font-size: 13px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}


.prc_val {
    width: 100%;
    float: left;
    margin-top: 5px;
    margin-bottom: 6px;
}

.tm-dt1 {
    color: #949393;
}

.tm-dt1 {
    width: 100%;
    height: auto;
    border: 1px solid #c5c5c5;
    float: left;
    margin: 5px 0;
    background: #fff;
    border-radius: 5px;
}

.tm11, .tm11_v2, .tm22_v2, .tm33_v2, .tm44_v2, .tm11_v3, .tm22_v3, .tm33_v3, .tm44_v3, .tm11_v4, .tm22_v4, .tm33_v4, .tm44_v4 {
    width: 25%;
    float: left;
    border-right: 1px solid #c5c5c5;
    cursor: pointer;
}

.tm-m11, .tm-m11_v2, .tm-m11_v3, .tm-m11_v4 {
    width: 100%;
    float: left;
    padding: 4px 0;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}

.mor-n1, .mor-n1_v2, .mor-n1_v3, .mor-n1_v4 {
    margin: 0 auto;
    width: 28px;
    height: 25px;
    background: url(https://flight.easemytrip.com/Content/img/NewInterListCss/int-filter-sprite.png);
    background-position: -5px -42px;
}

.clr {
    clear: both;
}

.fil-sbtxt {
    width: 100%;
    float: left;
    font-size: 10px;
    text-align: center;
}

.tm22 {
    width: 25%;
    float: left;
    border-right: 1px solid #c5c5c5;
    cursor: pointer;
}

.tm-m12, .tm-m12_v2, .tm-m12_v3, .tm-m12_v4 {
    width: 100%;
    float: left;
    padding: 4px 0;
    cursor: pointer;
}

.mor1-n2, .mor1-n2_v2, .mor1-n2_v3, .mor1-n2_v4 {
    margin: 0 auto;
    width: 24px;
    height: 25px;
    background: url(https://flight.easemytrip.com/Content/img/NewInterListCss/int-filter-sprite.png);
    background-position: -38px -43px;
}

.fil-sbtxt {
    width: 100%;
    float: left;
    font-size: 10px;
    text-align: center;
}

.tm33 {
    width: 25%;
    float: left;
    border-right: 1px solid #c5c5c5;
    cursor: pointer;
}

.tm-m22, .tm-m22_v2, .tm-m22_v3, .tm-m22_v4 {
    width: 100%;
    float: left;
    padding: 4px 0;
    cursor: pointer;
}

.mor2-n3, .mor2-n3_v2, .mor2-n3_v3, .mor2-n3_v4 {
    margin: 0 auto;
    width: 20px;
    height: 25px;
    background: url(https://flight.easemytrip.com/Content/img/NewInterListCss/int-filter-sprite.png);
    background-position: -66px -42px;
}

.fil-sbtxt {
    width: 100%;
    float: left;
    font-size: 10px;
    text-align: center;
}

.tm11-n, .tm11-n_v2, .tm11-n_v3, .tm11-n_v4 {
    width: 25%;
    float: left;
}

.tm-m33, .tm-m33_v2, .tm-m33_v3, .tm-m33_v4 {
    width: 100%;
    float: left;
    padding: 4px 0;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.mor3-n4, .mor3-n4_v2, .mor3-n4_v3, .mor3-n4_v4 {
    margin: 0 auto;
    width: 16px;
    height: 25px;
    background: url(https://flight.easemytrip.com/Content/img/NewInterListCss/int-filter-sprite.png);
    background-position: -95px -43px;
}

.fil-sbtxt {
    width: 100%;
    float: left;
    font-size: 10px;
    text-align: center;
}

.thin_brdr {
    width: 100%;
    height: 1px;
    background: #d4d4d4;
    margin: 10px 0;
}

.prc_val {
    width: 100%;
    float: left;
    margin-top: 5px;
    margin-bottom: 6px;
}

.apl7 {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
    left: 0;
    right: 0;
}

.apl27 {
    padding: 2%;
    text-align: center;
    color: #fff;
    background-color: #F60;
    border: 1px solid #f60;
}

.apl27, .inp-crd7 {
    font-size: 18px;
    width: 100%;
}


.source-de17, .source-de7 {
    width: 72%;
    float: left;
}

.source-main7 {
    padding-left: 3%;
}
.source-main17, .source-main7 {
    width: 100%;
    float: left;
}

.source-right17, .source-right7 {
    width: 80%;
    float: left;
}

.arr-wht {
    width: 14px;
    height: 14px;
    float: left;
    background: url(https://flight.easemytrip.com/M_Content/css/NewMobTravCssV2/img/left-arrow.svg) no-repeat 0 0;
    background-size: 14px 14px;
    margin: 7px 0 0 0;
}

.fltTxt {
    float: left;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 7px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    table {
        width: 100%;
    }


    table, thead, tbody, th, td, tr {
        /*display: block;*/
        padding: inherit;
    }


        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            content: attr(data-column);
            color: #000;
            font-weight: bold;
        }
}



.plane_dep {
    background: url("../Images/icons/flight_dep.png") no-repeat top left;
}

.plane_dep {
    background-position: 0 0;
    width: 32px;
    height: 32px;
}


#flterTab {
    padding-left: 0px !important;
}

input[type=checkbox] {
    margin-top: 7px;
}

body {
    font-family: "Lato", sans-serif;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
    /* Float the list items side by side */
    ul.tab li {
        float: left;
        display: inline;
    }
        /* Style the links inside the list items */
        ul.tab li a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
        }
            /* Change background color of links on hover */
            ul.tab li a:hover {
                background-color: #ddd;
            }
            /* Create an active/current tablink class */
            ul.tab li a:focus, .active {
                /*background-color: #ccc;*/
            }

/* Style the tab content */
.tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.des-nav {
    z-index: 999;
    position: fixed;
    top: 135px;
    left: 21.5%;
    font-size: 13px;
    width: 76%;
    border: 1px solid #d1d1d1;
    border-bottom: none;
    border-top: none;
}




#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #353535;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
    overflow: visible !important;
}



#panel1, #flip1 {
    padding: 5px;
    text-align: center;
    /*background-color: #e5eecc;*/
    /*border: solid 1px #c3c3c3;*/
}

#panel1 {
    padding: 50px;
    display: none;
    overflow: visible !important;
}



#flight, #flt {
    padding: 5px;
    text-align: center;
    /*background-color: #e5eecc;*/
    /*border: solid 1px #c3c3c3;*/
}

#panel {
    padding: 50px;
    display: none;
}



.check {
    opacity: 0.5;
    color: #996;
}



@import url(https://fonts.googleapis.com/css?family=Lobster);

@-webkit-keyframes fly {
    to {
        transform: rotate(180deg);
    }
}

@-webkit-keyframes shadow {
    from {
        text-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    }

    to {
        text-shadow: 4px 0 0 rgba(0, 0, 0, 0.2);
    }
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 220px;
    margin: -110px 0 0 -200px;
    /*background: linear-gradient(skyblue, steelblue);*/
    border-radius: 8px;
    text-align: center;
    color: white;
    overflow: hidden;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, rgb(75, 121, 161), rgb(40, 62, 81));
}

    #loader:before {
        content: '';
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: -180px;
        left: 20px;
        border-radius: 50%;
        border: 1.8px dashed rgba(255, 255, 255, 0.75);
    }

#plane {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 44px;
    transform-origin: 200px 20px;
    -webkit-animation: fly 5s infinite linear;
}

    #plane i {
        margin: 4px 0 0 2px;
        transform: rotate(-45deg);
        -webkit-animation: shadow 5s infinite linear;
    }

#loader p {
    margin-top: 120px;
    line-height: 32px;
    font-family: 'Lobster', sans-serif;
    font-size: 72px;
    text-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}


@media only screen and (max-width: 500px) {

    ::-webkit-scrollbar {
        display: none;
    }

    .scr-ol {
        overflow-x: scroll;
        height: 600px;
    }

    .desktopview {
        display: none !important;
    }

    .mobileview {
        position: relative;
        left: 25px;
        top: 7px;
        font-weight: 700;
    }

    .flt-icon {
        display: none;
    }

    .aro {
        display: none;
    }

    .desk-v {
        display: none;
    }

    .mul-pri {
    }

    .desktop-v {
        display: none;
    }

    .hr-st {
        display: none;
    }

    .p-icon {
        display: none;
    }

    .p-row {
        margin-left: 0px;
        height: 0px;
        /*width: 0%;*/
    }

    .fare-type {
        font-size: 10px !important;
        color: #ef631e;
    }

    .marg-le {
    }

    .air-class {
        display: none;
    }

    .ter {
        display: none;
    }

    .dat-e {
        display: none;
    }

    .f16 {
        font-size: 17px !important;
    }

    .st-p {
        font-size: 11px;
    }

    .passenger-2 {
        display: none;
    }

    .flt-time {
        font-size: 10px !important;
        position: absolute;
        top: 89px;
        right: 266px;
    }

    .line {
        display: none;
    }

    .passenger-3 {
        display: none !important;
    }

    .r-arrv {
        margin-left: 20px;
    }

    .r-ter {
        display: none;
    }

    .r-dt {
        display: none;
    }

    .fltkun3, .fltkun2 {
        display: none;
    }


    .r-mult {
        z-index: 800;
        width: unset;
        right: 0px;
        font-weight: 600;
        overflow-y: visible;
        /*height: 0px;*/
    }

    .r-duration {
        display: none;
    }

    .one-side {
        border: 1px solid #fff;
        box-shadow: 0 1px 2px 0 #ccc;
        background: #a8a8a8;
        color: #fff;
        min-height: 35px;
        width: 100% !important;
        padding: 11px 10px 0px 11px;
        height: auto;
        margin-bottom: 8px;
        transition: box-shadow 200ms cubic-bezier(.4, 0, .2, 1);
        border: 1px solid rgba(0,0,0,0.125);
        border-radius: 0px !important;
    }

    .rd-trip {
        border: 1px solid #fff;
        box-shadow: 0 1px 2px 0 #ccc;
        background: #005999;
        color: #fff;
        min-height: 60px;
        width: 100%;
        padding: 17px 10px 0px 11px;
        height: auto;
        margin-bottom: 8px;
        transition: box-shadow 200ms cubic-bezier(.4, 0, .2, 1);
        border: 1px solid rgba(0,0,0,0.125);
        border-radius: 0px;
    }

    .r-fare {
        display: none;
    }

    .r-dep {
        display: none;
    }

    .filt {
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: -55px !important;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 0px 0 !important;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

    .leftshowprice, .rightshowprice {
        color: #f3ae2f;
    }

    li {
        margin-left: 5px !important;
    }



    .hr-line {
        display: none !important;
    }

    .hr-lin {
        display: none !important;
    }

    .f-type {
        text-align: center;
        border: 1px solid #2dca1c;
        margin: 10px -10px auto !important;
        border-radius: 23px;
        color: #2dca1c;
        padding: 3px 0;
        font-size: 11px;
        display: block;
        width: 90% !important;
    }

    .fli-i2 {
        display:none !important;
    }
}

@media only screen and (min-width: 750px) {

      .f-type {
        text-align: center;
        border: 1px solid #2dca1c;
        margin: 46px -23px auto;
        border-radius: 23px;
        color: #2dca1c;
        padding: 3px 0;
        font-size: 11px;
        display: block;
        width: 60%;
    }

    .hr-line {
        width: 100%;
        height: 3px;
        border-bottom: 1px dotted #b0aeae;
        float: left;
        position: absolute;
        margin-left: -70px;
    }

    .hr-lin {
        width: 100%;
        height: 3px;
        border-bottom: 1px dotted #b0aeae;
        float: left;
        position: relative;
        margin-top: 15px;
        margin-left: -60px;
    }


    .filt {
        display: none;
    }

    .mod {
        display: none;
    }

    .rd-trip {
        border: 1px solid #fff;
        box-shadow: 0 1px 2px 0 #ccc;
        background: #005999;
        color: #fff;
        min-height: 60px;
        width: 98%;
        padding: 17px 10px 0px 11px;
        height: auto;
        margin-bottom: 8px;
        transition: box-shadow 200ms cubic-bezier(.4, 0, .2, 1);
        border: 1px solid rgba(0,0,0,0.125);
        border-radius: 4px;
    }

    .one-side {
        border: 1px solid #fff;
        box-shadow: 0 1px 2px 0 #ccc;
        background: #a8a8a8;
        color: #fff;
        min-height: 35px;
        width: 98%;
        padding: 11px 10px 0px 11px;
        height: auto;
        margin-bottom: 8px;
        transition: box-shadow 200ms cubic-bezier(.4, 0, .2, 1);
        border: 1px solid rgba(0,0,0,0.125);
        border-radius: 4px;
    }


    .mobileview {
        display: none !important;
    }



    .mobile-v {
        display: none;
    }

    .mul-pri {
        height: 138px;
        overflow: hidden;
        overflow-y: scroll;
        z-index: 800;
    }


    .p-row {
        margin-left: -10px;
        height: 148px;
        width: 38%;
    }

    .fare-type {
        display: none;
    }

    .marg-le {
        margin-left: -43px;
    }

    .st-p {
        display: none;
    }

    .flt-time {
        font-size: 13px;
    }

    .r-arrv {
        margin-left: -27px;
    }

    .r-st {
        display: none;
    }

    .r-mult {
        z-index: 800;
        width: 30%;
        right: 58px;
        font-weight: 600;
        overflow-y: scroll;
        height: 51px;
    }

    .r-mult-2 {
        z-index: 800;
        width: 30%;
        right: 23px;
        font-weight: 600;
        overflow-y: scroll;
        height: 51px;
    }
}
